# SC1090: Can't follow non-constant source. Use a directive to specify location.
disable=SC1090

# SC2164: Use 'cd ... || exit' or 'cd ... || return' in case cd fails.
disable=SC2164

# SC2155: Declare and assign separately to avoid masking return values.
disable=SC2155

# SC2046: Quote this to prevent word splitting.
disable=SC2046

# SC2062: Quote the grep pattern so the shell won't interpret it.
disable=SC2062

# SC2001: See if you can use ${variable//search/replace} instead.
disable=SC2001

# SC2035: Use ./*glob* or -- *glob* so names with dashes won't become options.
disable=SC2035
