name: Tests
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-main:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository code
        uses: actions/checkout@v2
        
      # We need to downgrade Docker to v28 because ubuntu-latest has Docker v29, which is
      # not compatible with Fabric spanning chaincode images.
      # See https://github.com/actions/runner-images/issues/13474#issuecomment-3902397284
      - name: Downgrade Docker to v28
        run: |
          # See https://docs.docker.com/engine/install/ubuntu/.

          # Add Docker's official GPG key:
          sudo apt update
          sudo apt install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
          EOF

          sudo apt update
          sudo apt-get install -y --allow-downgrades docker-ce-cli=5:28.0.4-1~ubuntu.24.04~noble docker-ce=5:28.0.4-1~ubuntu.24.04~noble
          
      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          ./fablo-build.sh

      - name: Test simple network
        run: e2e-network/docker/test-01-v3-simple.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-main
          path: |
            e2e-network/docker/test-01-v3-simple.sh.logs/*
            e2e-network/docker/test-01-v3-simple.sh.tmpdir/fablo-target/**/*

      - name: Test generators
        run: |
          npm run test:unit && \
          npm run test:e2e && \
          ./check-if-fablo-version-matches.sh

      - name: Lint
        run: npm run lint && ./lint.sh

  #  test-k8:
  #    needs: test-main
  #    runs-on: ubuntu-latest
  #    timeout-minutes: 30
  #    steps:
  #
  #      - name: Check out repository code
  #        uses: actions/checkout@v2
  #
  #      - name: install k8, hlf plugin and helm
  #        run: |
  #          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.14.0/kind-linux-amd64
  #          chmod +x ./kind
  #          sudo mv ./kind /usr/local/bin/kind
  #          kind create cluster --wait 5m
  #          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
  #          chmod 700 get_helm.sh
  #          ./get_helm.sh
  #          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
  #          chmod +x kubectl
  #          sudo mv ./kubectl /usr/local/bin/kubectl
  #          set -x; cd "$(mktemp -d)" &&
  #          OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
  #          ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
  #          KREW="krew-${OS}_${ARCH}" &&
  #          curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  #          tar zxvf "${KREW}.tar.gz" &&
  #          ./"${KREW}" install krew
  #          export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
  #          kubectl krew install hlf
  #
  #          if [ -f "~/.bashrc" ]; then
  #            echo 'export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"' >> ~/.bashrc && source ~/.bashrc
  #          fi
  #
  #          if [ -f "~/.zshrc" ]; then
  #            echo 'export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"' >> ~/.zshrc && source ~/.zshrc
  #          fi
  #
  #          helm repo add kfs "https://kfsoftware.github.io/hlf-helm-charts" --force-update
  #          helm install hlf-operator --version=1.8.0 kfs/hlf-operator
  #
  #      - name: Build Fablo
  #        run: |
  #          shellcheck --version && \
  #          yamllint -v && \
  #          npm install && \
  #          npm run build && \
  #          ./fablo-build.sh
  #
  #      - name: fablo k8 tests
  #        run: |
  #          export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
  #          e2e-network/k8s/test-01-simple-k8s.sh

  test-02-raft:
    needs: test-main
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          npm install && \
          ./fablo-build.sh

      - name: Test RAFT network
        run: e2e-network/docker/test-02-v2-raft-2orgs.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-02-raft
          path: |
            e2e-network/docker/test-02-v2-raft-2orgs.sh.logs/*
            e2e-network/docker/test-02-v2-raft-2orgs.sh.tmpdir/fablo-target/**/*

  test-03-private-data:
    needs: test-main
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          npm install && \
          ./fablo-build.sh

      - name: Test private data
        run: e2e-network/docker/test-03-v2-private-data.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-03-private-data
          path: |
            e2e-network/docker/test-03-v2-private-data.sh.logs/*
            e2e-network/docker/test-03-v2-private-data.sh.tmpdir/fablo-target/**/*

  test-04-snapshot:
    needs: test-main
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          npm install && \
          ./fablo-build.sh

      - name: Test snapshots
        run: e2e-network/docker/test-04-v3-snapshot-ccaas.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-04-snapshot
          path: |
            e2e-network/docker/test-04-v3-snapshot-ccaas.sh.logs/*
            e2e-network/docker/test-04-v3-snapshot-ccaas.sh.tmpdir/fablo-target/**/*

  test-05-v3:
    needs: test-main
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        
      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          npm install && \
          ./fablo-build.sh

      - name: Test version 3
        run: e2e-network/docker/test-05-v3.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-05-version3
          path: |
            e2e-network/docker/test-05-v3.sh.logs/*
            e2e-network/docker/test-05-v3.sh.tmpdir/fablo-target/**/*

  test-06-v3-BFT:
    needs: test-main
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          npm install && \
          ./fablo-build.sh

      - name: Test version 3 with BFT
        run: e2e-network/docker/test-06-v3-bft.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-05-version3-BFT-snapshot
          path: |
            e2e-network/docker/test-06-v3-bft.sh.logs/*
            e2e-network/docker/test-06-v3-bft.sh.tmpdir/fablo-target/**/*
  test-07-v2-peer-dev-mode:
    needs: test-main
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Build Fablo
        run: |
          shellcheck --version && \
          yamllint -v && \
          npm install && \
          ./fablo-build.sh

      - name: Test v2 peer dev mode
        run: e2e-network/docker/test-07-v2-peer-dev-mode.sh

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-07-v2-peer-dev-mode-snapshot
          path: |
            e2e-network/docker/test-07-v2-peer-dev-mode.sh.logs/*
            e2e-network/docker/test-07-v2-peer-dev-mode.sh.tmpdir/fablo-target/**/*
